// Variables
// Colors
$color-primary: #f0f5f9;
$color-tertiary: #c9d6df;
$bg-color: #52616b;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;1,300&display=swap");
$primary-font: "Chakra Petch", sans-serif;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: $primary-font;
  background-color: $bg-color;
  color: $color-primary;

  h2 {
    margin-top: 20px;
  }
}
