// Variables
// Colors
$color-primary: rgb(0, 0, 0);
$color-secondary: #f8f8f8;
$color-tertiary: #ccc;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;1,300&display=swap");
$primary-font: "Chakra Petch", sans-serif;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: $primary-font;
}

h2 {
  margin-bottom: 10px;
}
