.btns {
  margin-top: 20px;

  .btn {
    padding: 10px;
    font-weight: bold;
    width: 110px;
    border-radius: 5px;
    border: none;

    &:hover {
      background-color: $color-tertiary;
      transition: 0.3s;
      color: $color-secondary;
    }
  }
}
