header {
  padding: 20px;
  height: 200px;
}

main {
  padding: 20px;
  border: 2px dashed $color-secondary;
  margin: 10px;

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &__morse,
    &__english {
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    label {
      color: $color-primary;
      font-style: italic;
      font-size: 20px;
      font-weight: bold;
    }
    #morse-input,
    #english-input {
      margin-top: 5px;
      padding: 5px;
      font-size: 20px;
      border: 2px dotted $color-primary;
      border-radius: 4px;
    }
  }

  .btns {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

footer {
  padding: 20px;
  margin: auto;
}

.output {
  margin-top: 10px;
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 24px;
}
