@use "./sass/abstracts/mixins";
@use "./sass/abstracts/variables";

@import "./sass/base/reset";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/forms";
@import "./sass/layout/_header";

@import "./sass/pages/home";

// Colors
$color-primary: rgb(0, 0, 0);
$color-secondary: #f8f8f8;
$color-tertiary: #ccc;
h2 {
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 10px;

  &__morse,
  &__english {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}

#morse-input,
#english-input {
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  border: 2px solid $color-tertiary;
  border-radius: 4px;
  background-color: $color-secondary;
}

.btn {
  justify-content: center;
  display: flex;
  gap: 10px;

  &__submit,
  &__clear {
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    width: 110px;
  }
}

.output {
  width: 300px;
  resize: none;
  padding: 10px;
  font-size: 24px;
}
