* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

section {
  margin-top: 100px;
  text-align: center;
  & .title {
    color: rgb(0, 0, 0);
  }
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;

  &__morse,
  &__english {
    display: flex;
    flex-direction: column;
  }
}

#morse-input,
#english-input {
  width: 100%;
  height: 150px;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.btn {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin: 20px;
  &__submit,
  &__clear {
    padding: 10px;
    margin: 20px;
    font-weight: bold;
  }
}
