* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

section {
  margin-top: 100px;
  text-align: center;
}
section .title {
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}
.container__morse, .container__english {
  display: flex;
  flex-direction: column;
}

#morse,
#english {
  width: 100%;
  height: 150px;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.btn {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin: 20px;
}
.btn__submit, .btn__clear {
  padding: 10px;
  margin: 20px;
  font-weight: bold;
}