* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

section {
  margin-top: 100px;
  text-align: center;
  & .title {
    color: rgb(0, 0, 0);
  }
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

  &__morse,
  &__english {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }
}
